<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <strong> Details of this annonce </strong>
    <ion-grid >
      <ion-row>
        <!-- Image on the left -->
        <ion-col  size-md="4" size="12">
          <img [src]="selectedannonce.image" />
        </ion-col>
        
        <!-- Other details on the right -->
        <ion-col size-md="4" size="12">
          <ion-label>
            <!-- recupere les donnees enregester dans la var selectedannonce -->
            {{ selectedannonce.brand }} <br /> {{ selectedannonce.model}}
            <br /> {{ selectedannonce.couleur}} <br /> {{ selectedannonce.prix}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <strong>description complementaire : </strong>
    <br />
    <ion-list>
      <ion-item>
        <ion-textarea >{{ selectedannonce.description }}</ion-textarea>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
